{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
{% block content %}

<h1>Home</h1> <br>
<h4>
  <p class="important">
  Welcome to my library.<br><br>
  Be aware that this Library, like you and I, has flaws. <br>
  Please treat it with respect.<br><br>
</h4>

<div class="container">
  <div style="text-align: center; background-color: lightblue">
    "I have always imagined that Paradise will be a kind of a Library."<br><br>
    Jorge Luis Borges <br>
    (1899-1986. Argentine writer)<br><br>
  </div>
</div>

<br><br>

<div class="container">
  <div style="text-align: center; background-color: rgb(140, 188, 204)">
    "The only thing that you absolutely have to know, is the location of the library."<br><br>
    Albert Einstein <br>
    (1879-1955. Theoretical physicist)<br><br>
  </div>
</div>

<br><br>

<div class="container">
  <div style="text-align: center; background-color: rgb(110, 161, 179)">
    "Bad libraries build collections, good libraries build services, great libraries build communities."<br><br>
    R. David Lankes  <br>
    (Professor and Director of the School of Library & Information Science at the University of South Carolina)<br><br>
  </div>
</div>

<br><br>

<div class="container">
  <div style="text-align: center; background-color: rgb(77, 128, 147)">
    "I have found the most valuable thing in my wallet is my library card."<br><br>
    Laura Bush   <br>
    (b. 1946. Librarian and wife of George W. Bush, 43rd President of the United States)<br><br>
  </div>
</div>

<br><br>

<div class="container">
  <div style="text-align: center; background-color: rgb(40, 85, 101)">
    "Libraries were full of ideas – perhaps the most dangerous and powerful of all weapons."<br><br>
    Sarah J. Maas   <br>
    (b. 1986. American fantasy author) in her novel Throne of Glass.<br><br>
  </div>
</div>



{% endblock %}